# Backend API URL
REACT_APP_API_URL=http://localhost:8000/api

# # AWS Cognito Configuration (if using AWS Cognito for authentication)
# REACT_APP_AWS_REGION=us-east-1
# REACT_APP_USER_POOL_ID=your-user-pool-id
# REACT_APP_CLIENT_ID=your-client-id

# Environment
REACT_APP_ENV=development
